.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: "Playfair Display";
  font-size: 4rem;
  font-weight: 800;
  background-image: radial-gradient(
    at left top,
    rgb(122, 23, 228),
    rgb(217, 64, 133)
  );
  color: transparent;
  background-clip: text;
  overflow: hidden;
  margin: 1.5rem auto 2.5rem auto;
}

.box {
  width: 70%;
  height: 70%;
  margin: 2rem auto;
}

.selectform {
  border-radius: 7%;
  width: 8rem;
  height: 100%;
}

.select {
  color: rgb(158, 7, 185);
  background-color: white;
  border: none;
  border-radius: 7%;
  padding: 1%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display";
  width: 8rem;
  height: 100%;
  cursor: pointer;
}

.new-button-text {
  background: radial-gradient(at left top, rgb(230, 57, 109), rgb(39, 77, 231));
  width: 8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin-top: 0;
  border: none;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.menu {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.task {
  width: 90%;
  height: 15%;
  background: radial-gradient(at left top, rgb(230, 57, 109), rgb(39, 77, 231));
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasktitle {
  font-family: "Playfair Display";
  font-weight: 200;
  font-size: 1.1rem;
  margin-left: 2%;
  color: white;
}

.task-due-span {
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-content: center;
  width: 15%;
}

.completed-span {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.taskcomplete {
  color: white;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1rem;
}

.taskdue {
  color: white;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1rem;
}

.taskcomplete:hover {
  text-decoration: underline white;
  cursor: pointer;
}

.details-span {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.task-title-span {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 7%;
}

.delete > h1 {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
